stages:
  - build

variables:
  IMAGE_TAG: $CI_REGISTRY_IMAGE:latest
  GRADLE_USER_HOME: "${CI_PROJECT_DIR}/.gradle"

cache:
  key: gradle-cache
  paths:
    - .gradle/caches
    - .gradle/wrapper

build:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker buildx create --use
  script:
    - docker buildx build --platform linux/arm64 -t $IMAGE_TAG --push .
  only:
    - main